[credentials]
consumer_key=VGhlIGNvbnN1bWVyIGtleQo
consumer_secret=VGhpcyAqd291bGQqIGJlIHRoZSBjb25zdW1lciBzZWNyZXQuCg
access_token=812413520260926723-QWNjZXNzIHRva2VuIGdvZXMgaGVyZQo
access_token_secret=QWNjZXNzIHRva2VuIHNlY3JldCB3b3VsZCBnbyBoZXJl
